.form1-container {
  background-color: #ffffff;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  margin-top: 160px;
}

.form1-group {
  margin-bottom: 20px;
}

.form1-group label {
  display: block;
  font-size: 16px;
  color: #333;
  margin-bottom: 8px;
  font-weight: 600;
}

.form1-group input,
.form1-group select {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  transition: border-color 0.3s;
}

.form1-group input:focus,
.form1-group select:focus {
  border-color: #66afe9;
  outline: none;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

.btn-submit {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-submit:hover {
  background-color: #45a049;
}

.btn-submit:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.h1-addlocation{
  text-align: center;

}
.p-addlocation{
  text-align: center;
}
.body-addlocation{
  background-color: #ebebeb;
}